* {margin:0; padding:0; box-sizing:border-box;}
ul, ol {list-style:none;}
html {font-size:62.5%;}
body {font-family:'Arial', sans-serif; margin:0; padding:20px; background-color:#f0f4f8; color:#333; font-size:1.6rem;}

h1 {color:#4a90e2; text-align:center;}

.input-container {display:flex; flex-wrap:wrap; align-items:center; gap:10px; max-width:600px; margin:20px auto; padding:20px; border-radius:10px; background:#fff; box-shadow:0 2px 10px rgba(0, 0, 0, 0.1);}
.input-container label {width:9rem;}
.input-container input,
.input-container select {width:calc(100% - 100px); padding:8px; border:1px solid #ccc; border-radius:4px;}
.input-container button {flex:1; padding:1rem 1.5rem; border:none; border-radius:0.5rem; background-color:#4a90e2; color:#fff; cursor:pointer; transition:background-color 0.3s;}
.input-container button:hover {background-color:#357ab7;}

#errorMessage {display:none; position:relative; margin-top:4rem; padding-top:10rem; font-size:2.4rem; font-weight:bold; text-align:center;}
#errorMessage::before {content:'﹗'; display:flex; justify-content:center; align-items:center; position:absolute; top:0; left:50%; transform:translateX(-50%); width:80px; height:80px; border-radius:2.5rem; background-color:#d3d3d3;; font-size:8rem; color:#fff;}

.sky-summary {max-width:600px; margin:0 auto 1rem; font-size:1.2em; font-weight:bold;}

.response-data {display:grid; grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)); gap:20px; justify-content:center;}
.response-data .data-list {position:relative; padding:2rem 1.2rem 2rem; border-radius:8px; background-color:#fff;}

.sky-info {position:absolute; top:2rem; right:1.2rem; font-size:2.4rem;}

.sky-1 .sky-info::before {content:'☀️'} /* 맑음 */
.sky-3 .sky-info::before {content:'⛅'} /* 구름 많음 */
.sky-4 .sky-info::before {content:'☁️'} /* 흐림 */
.pty-1 .sky-info::before {content:'🌧️'} /* 비 */
.pty-2 .sky-info::before {content:'🌨️🌧️'} /* 비/눈 */
.pty-3 .sky-info::before {content:'❄️'} /* 눈 */
.pty-4 .sky-info::before {content:'🌦️'} /* 소나기 */
.pty-5 .sky-info::before {content:'💧'} /* 빗방울 */
.pty-6 .sky-info::before {content:'💧❄️'} /* 빗방울/눈날림 */
.pty-7 .sky-info::before {content:'🌨️'} /* 눈날림 */