* {margin:0; padding:0; box-sizing:border-box;}
ul, ol {list-style:none;}
html {font-size:62.5%;}
body {font-family:'Arial', sans-serif; padding:5rem 2.4rem 8rem; font-size:1.6rem; background-color:#f0f4f8;}

h1 {color:#4a90e2; text-align:center;}

.input-container {display:flex; flex-wrap:wrap; align-items:center; gap:1rem; max-width:60rem; margin:2rem auto; padding:2rem; border-radius:1rem; background:#fff; box-shadow:0 0.2rem 1rem rgba(0, 0, 0, 0.1);}
.input-container label {width:9rem; text-align:right;}
.input-container input,
.input-container select {width:calc(100% - 10rem); padding:0.8rem; border:1px solid #ccc; border-radius:0.4rem;}
.input-container button {flex:1; padding:1rem 1.5rem; border:none; border-radius:0.5rem; background-color:#4a90e2; color:#fff; cursor:pointer; transition:background-color 0.3s;}
.input-container button:hover {background-color:#357ab7;}
.location-name {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 10px;
	color: #333;
}
#errorMessage {display:none; position:relative; margin-top:4rem; padding-top:10rem; font-size:2.4rem; font-weight:bold; text-align:center;}
#errorMessage::before {content:'﹗'; display:flex; justify-content:center; align-items:center; position:absolute; top:0; left:50%; transform:translateX(-50%); width:8rem; height:8rem; border-radius:2.5rem; background-color:#d3d3d3;; font-size:8rem; color:#fff;}
.sky-summary {max-width:60rem; margin:0 auto 1rem; font-size:1.2em; font-weight:bold;}
.response-data {display:grid; grid-template-columns:repeat(auto-fill, minmax(20rem, 1fr)); gap:2rem; justify-content:center; max-width:80rem; margin:0 auto;}
.response-data .data-list {position:relative; padding:2rem 1.2rem 2rem; border-radius:0.8rem; background-color:#fff; animation:showAnima 1s forwards;}
@keyframes showAnima {
	0% {transform:translateY(-1.5rem); opacity:0;}
	100% {transform:translateY(0); opacity:1;}
}

.sky-info {position:absolute; top:0.5rem; right:1.2rem; font-size:5rem;}
.sky-1 .sky-info::before {content:'☀️'} /* 맑음 */
.sky-3 .sky-info::before {content:'⛅'} /* 구름 많음 */
.sky-4 .sky-info::before {content:'☁️'} /* 흐림 */
.pty-1 .sky-info::before {content:'🌧️'} /* 비 */
.pty-2 .sky-info::before {content:'🌨️🌧️'} /* 비/눈 */
.pty-3 .sky-info::before {content:'❄️'} /* 눈 */
.pty-4 .sky-info::before {content:'🌦️'} /* 소나기 */
.pty-5 .sky-info::before {content:'💧'} /* 빗방울 */
.pty-6 .sky-info::before {content:'💧❄️'} /* 빗방울/눈날림 */
.pty-7 .sky-info::before {content:'🌨️'} /* 눈날림 */